body{
    background-color: rgb(250, 232, 211);
    font-family:  monospace;
}
table {
    border: 2px solid black;
    position: relative;
    top: 100px;
}
thead {
    border: 3px solid black;  

}
thead tr th{
    font-weight: 900;
    font-size: larger;
    padding: 10px;
}

td, th {
    border: 2px solid black;
    text-align: center;
    padding: 5px;
    font-size: larger;
}
h1{
    color: rgb(32, 54, 87);
    font-size: 50px;
    text-align: center;
    border: 4px double black;
}

.title {
    font-size: 20px;
    color: rgb(238, 228, 228);
    background-color: rgb(32, 54, 87);
}
